[defaults]

# Inventory file
inventory = ./inventory.ini

# SSH private key
private_key_file = /home/ubuntu/fawaz-key.pem

# Remote SSH user
remote_user = ubuntu

# Lab convenience only
host_key_checking = False

# Number of hosts Ansible can process in parallel
forks = 5
